<div class="card" *ngIf="index < questions.length">
  <ng-container>
    <h1>Simple Quiz</h1>
    <hr />

    <h2>{{ index + 1 }}. {{ questions[index].question }}</h2>
    <button
      *ngFor="let answer of questions[index].answers"
      (click)="chooseAnswer(answer)"
      [ngClass]="{
      correct: answerClicked && answer == questions[index].correctAnswer,
      incorrect: answerClicked && answer != questions[index].correctAnswer,
    }"
      [disabled]="answerClicked"
    >
      {{ answer }}
    </button>
  </ng-container>

  <div class="d-flex align-items-center justify-content-center mt-2">
    <button
      class="next-button"
      [disabled]="!answerClicked"
      (click)="nextClicked()"
    >
      Next
    </button>
  </div>
</div>

<div *ngIf="index == questions.length" class="card" style="text-align: center">
  <h2>You scored {{ score }} out of {{ questions.length }}</h2>
  <button
    class="next-button"
    style="margin: 20px auto"
    (click)="playAgainClicked()"
  >
    Play again
  </button>
</div>
